/* Font-face
------------------------------ */

@font-face {
    font-family: 'Adelle';
    src: url('fonts/adelle_reg-webfont.eot');
    src: url('fonts/adelle_reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/adelle_reg-webfont.woff') format('woff'),
         url('fonts/adelle_reg-webfont.ttf') format('truetype'),
         url('fonts/adelle_reg-webfont.svg#AdelleRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ChunkFive';
    src: url('fonts/chunkfive-webfont.eot');
    src: url('fonts/chunkfive-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/chunkfive-webfont.woff') format('woff'),
         url('fonts/fonts/chunkfive-webfont.ttf') format('truetype'),
         url('fonts/chunkfive-webfont.svg#ChunkFiveRoman') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*
 * HTML5 ✰ Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Force vertical scrollbar in non-IE
 * 3. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin: 0; font-size: 1em; line-height: 1.4; }

body, button, input, select, textarea { font-family: sans-serif; color: #222; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */

::-moz-selection { background: #73abf4; color: #fff; text-shadow: none; }
::selection { background: #73abf4; color: #fff; text-shadow: -1px -1px #8794a5; }


/* =============================================================================
   Links
   ========================================================================== */

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; cursor: help; }

b, strong { font-weight: normal; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/e
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9
 */

svg:not(:root) { overflow: hidden; }


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */

legend { border: 0; *margin-left: -7px; padding: 0; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */

button, input { line-height: normal; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */

textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }



/* =========================== */
/* = STYLES! Wilto's in here = */
/* =========================== */


body {
    background: #e7ebf1;
    color: #525a64;
    font: 100%/1.5 "Adelle", georgia, serif;
}

ul, ol, blockquote {
    margin: 0;
    padding: 0 0 0 1.875%;
}

ul li { padding: .2em 0; }

blockquote {
    border-left: 3px solid #5e7087;
    font-style: italic;
}

a, a:visited {
    color: #4b73a6;
    text-decoration: none;

    -webkit-transition: color .1s linear;
    -moz-transition: color .1s linear;
    -ms-transition: color .1s linear;
    -o-transition: color .1s linear;
    transition: color .1s linear;
}

a:hover { color: #0c4c9d; }


.resources ul a {
    border-radius: 3px;
    display: inline-block;
    margin-left: -8px;
    padding: 1px 5px 0 5px;
}

p { line-height: 1.65; }

section h1 {
    border-bottom: 1px solid #cbd1d8;
    color: #324a69;
    clear: both;
    float: left;
    font: normal 1.8em/1.2 "ChunkFive", arial, helvetica, sans-serif;
    letter-spacing: -.02em;
    margin: 0 0 .5em 0;
    padding: .5em 0 .1em 0;
    text-shadow: 1px 1px 0 rgba(255,255,255,.8);
    width: 100%;
}

.no-fontface section h1 { font-weight: bold; }

section h2 {
    color: #7f8c9c;
    font: 1.4em/1 "ChunkFive", georgia, serif;
    margin: 1em 0 0 0;
    text-shadow: 1px 1px 0 rgba(255,255,255,.8);
}

.standout,
.subsection:not(:last-child):after {
    background: #687482 url(img/bg_noise.png) 0 0 repeat;
    background-origin: padding;
    border: double #494f57;
    border-width: 3px 0;
    
    background: 
        url(img/bg_noise.png) 0 0 repeat,
        -moz-radial-gradient(center top, ellipse farthest-corner, #7f8c96, #687482 38%);
    background: 
        url(img/bg_noise.png) 0 0 repeat,
        -webkit-radial-gradient(center top, ellipse farthest-corner, #7f8c96, #687482 38%);
    background: 
        url(img/bg_noise.png) 0 0 repeat,
        -o-radial-gradient(center top, ellipse farthest-corner, #7f8c96, #687482 38%);
    background: 
        url(img/bg_noise.png) 0 0 repeat,
        -ms-radial-gradient(center top, ellipse farthest-corner, #7f8c96, #687482 38%);
    
    clear: both;
    margin: 3.5em 0 2em 0;
    padding: 1em 2.9296875% 0 2.9296875%;
    box-shadow: inset 0 0 10px #5d6672;
}

.subsection:not(:last-child):after {
    content: "";
    display: block;
    min-height: .85em;
    margin: 2.5em 0 .5em 0;
    opacity: .85;
}

.standout h2,
.doc-hed {
    color: #b5c5d7;
    font: 1.5em/1 "ChunkFive", georgia, serif;
    letter-spacing: .05em;
    margin: 0;
    padding: .2em 0 .8em 0;
    text-align: center;
    text-shadow: #494f57 1px 1px, #494f57 2px 2px;
}

.standout h1 {
    border: none;
    color: #e0e6ed;
    float: none;
    font-size: 2.6em;
    letter-spacing: 0;
    line-height: 1;
    margin: 0;
    padding: 0;
    text-align: center;
    text-shadow: #494f57 1px 1px, #494f57 2px 2px;
}

.no-fontface .standout h1 {
    font-weight: bold;
    padding: 0 0 .25em 0;
}

.no-fontface .standout h2 { letter-spacing: normal; }

.doc-hed {
    display: block;
    width: 100%;
    padding: .8em 0 0 0;
    text-align: left;
    text-shadow: #494f57 1px 1px, #494f57 2px 2px;
}

.doc-hed b,
.doc-hed .hed {
    line-height: 1;
    display: block;
    text-align: left;
    width: 100%;
}

.doc-hed .hed {
    margin: 0 0 .05em 0;
    padding: 0;
    text-shadow: #494f57 1px 1px, #494f57 2px 2px, #494f57 3px 3px;
}

.doc-lead {
    margin-top: 1.5em;
}

.lead {
    text-align: center;
    border-bottom: 3px double #cbd1d8;
    margin-bottom: .25em;
    padding-bottom: 1.4em;
}

.hed-lead {
    color: #324a69;
    font: 2.4em/1 "ChunkFive", arial, helvetica, sans-serif;
    margin: .7em 0 .1em 0;
    padding: 0;
    text-shadow: 1px 1px 0 #fff;
}

.no-fontface .hed-lead {
    font-weight: bold;
    letter-spacing: -1px;
}

.subhed-lead p {
    color: #7f8c9c;
    font: normal 1.3em/1.2 "ChunkFive", georgia, serif;
    margin: 0 auto;
    padding: 0 .5em;
    text-shadow: 1px 1px 0 #fff;
}

.subhed-lead p b {
    color: #5d6474;
}

dl { width: 100%; }
dl p { margin: .25em 0; }

dt,
.key {
    font: normal 1.15em/1 "ChunkFive", georgia, serif;
    width: 100%;
}

dd,
.val {
    border-bottom: 1px dotted #bfc6cf;
    margin: 0;
}

dd:last-child,
.val:last-child {
    border-bottom: none;
}

.q-a,
.key-val { float: left; }

.key-val dt,
.key {
    color: #3d526d;
    padding: .5em 0 0 0;
    margin: 0;
}

.tasks {
    font-size: .9em;
    margin-top: .9em;
    list-style: none;
    padding: .1em 0 0 0;
    margin-left: 0;
}

.tasks li:not(:last-child) {
    border-bottom: 1px dotted #bfc6cf;
    padding: 0 0 .5em 0;
}
.tasks p {
    margin: .5em 0 0 0;
}

.pledges {
    padding-top: .5em;
}
.pledges a {
    display: inline-block;
    margin: .15em;
}
.pledges img {
    max-width: 25px;
}

.key-val dd,
.val {
    position: relative;
    padding-bottom: 1em;
    padding-top: .05em;
}
.key-val .pledges {
    bottom: .2em;
    clear: both;
    left: 0;
    position: absolute;
    width: 100%;
}

.q-a abbr {
    border: none;
    color: #7f8c9c;
    float: left;
    font: normal 1em/1 "ChunkFive", georgia, serif;
    margin: 0 .4em 0 0;
}

.q-a dt { font-size: 1.15em; }

.q-a dd abbr {
    padding: .2em 0 0 0;
    font-size: 1.15em;
}

.resources {
    overflow: auto;
    list-style: none;
    padding: 1.18em 0 0 0;
    font-size: .9em;
}

.resources li {
    padding: .2em 0;
}

.resources > li:before {
    color: #3d526d;
    content: "■";
    float: left;
    font-size: .85em;
    padding: .1em .6em 0 0;
}

.resources ul {
    list-style: none;
    padding: .25em 0 .4em 1.2em;
}

.resources li li {
    padding: 0;
}

.resources li p {
    margin: 0;
    line-height: 1.5;
}

/* Layout */

/* Will this be needed? */
nav { text-align: center; }

nav ul,
nav ol {
    display: table;
    width: 100%;
    padding: 0;
}

nav li {
    display: table-cell;
    padding: .5em 0 .8em 0;
}

.lt-ie8 nav li {
    display: inline;
}

.col-ab {
    clear: both;
    padding: 0 2.9296875%;
}



@media screen and (min-width: 600px) {

}

@media screen and (min-width: 800px) {
    .col-ab {
        width: 94.1%;
    }
    
    .col-a,
    .col-b { width: 48.020833333333%; }
    
    .col-a { float: left; }

    .col-b { float: right; }
    
    .col-ab p {
        max-width: 950px;
        line-height: 1.5;
    }
    
    .hed-lead { font: 3.625em/1 "ChunkFive", georgia, serif; }
    
    h1 { font: normal 2.4em/1.2 "ChunkFive", arial, helvetica, sans-serif; }
    
    .standout h1 { font-size: 4.8em; }
    
    .standout h2,
    .doc-hed { font: 2em/1 "ChunkFive", georgia, serif; }
    
    .subhed-lead p { font: normal 1.6875em/1.2 "ChunkFive", georgia, serif; }
    
    .key-val dt,
    .key {
        float: left;
        width: 30.802603036876%;
    }

    .key-val dd,
    .val {
        padding-left: 34.924078091106%;
    }
    
    .col-split {
        padding-top: 1em;
        -webkit-column-count: 2;
        -webkit-column-gap: 2.079002079002%;
        -moz-column-count: 2;
        -moz-column-gap: 2.079002079002%;
        -ms-column-count: 2;
        -ms-column-gap: 2.079002079002%;
        column-count: 2;
        column-gap: 2.079002079002%;
    }
    .col-split p {
        padding: 0 0 1em 0;
        margin: 0;
    }
}






















/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.a11y-only { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.a11y-only.focusable:active, .a11y-only.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.hide { visibility: hidden; }


@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
