/*
 * the HTML5✰Boilerplate css, natch.
 */

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block}audio,canvas,video{display:inline-block;*display:inline;*zoom:1}audio:not([controls]){display:none}[hidden]{display:none}html{font-size:100%;overflow-y:scroll;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}body{margin:0;font-size:1em;line-height:1.4}body,button,input,select,textarea{font-family:sans-serif;color:#222}a{color:#00e}a:visited{color:#551a8b}a:hover{color:#06e}a:focus{outline:thin dotted}a:hover,a:active{outline:0}abbr[title]{border-bottom:1px dotted;cursor:help}blockquote{margin:1em 40px}dfn{font-style:italic}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}ins{background:#ff9;color:#000;text-decoration:none}mark{background:#ff0;color:#000;font-style:italic;font-weight:bold}pre,code,kbd,samp{font-family:monospace,serif;_font-family:'courier new',monospace;font-size:1em}pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}q{quotes:none}
q:before,q:after{content:"";content:none}small{font-size:85%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}ul,ol{margin:1em 0;padding:0 0 0 40px}dd{margin:0 0 0 40px}nav ul,nav ol{list-style:none;list-style-image:none;margin:0;padding:0}img{border:0;-ms-interpolation-mode:bicubic;vertical-align:middle}svg:not(:root){overflow:hidden}figure{margin:0}form{margin:0}fieldset{border:0;margin:0;padding:0}label{cursor:pointer}legend{border:0;*margin-left:-7px;padding:0}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle}button,input{line-height:normal}button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button;*overflow:visible}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top;resize:vertical}input:invalid,textarea:invalid{background-color:#f0dddd}table{border-collapse:collapse;border-spacing:0}td{vertical-align:top}

::-moz-selection{ background:#73abf4;color:#fff;text-shadow:none}
::selection{      background:#73abf4;color:#fff;text-shadow:none}

h2::-moz-selection, h3::-moz-selection{ color:#333;}
h2::selection,      h3::selection     { color:#333;}


/* =============================================================================
   Site styles
   ========================================================================== */
.resources {
    overflow: auto;
    list-style: none;
    padding: 1.18em 0 0 0;
    font-size: .9em;
}
.task ul,
.resources ul {
    list-style: none;
    padding: .25em 0 .4em 1.2em;
}
.task li,
.resources li {
    padding: .2em 0;
}
.task li:before,
.resources > li:before {
    color: #3d526d;
    content: "■";
    float: left;
    font-size: .85em;
    padding: .1em .6em 0 0;
}
.resources li li {
    padding: 0;
}
.resources li p {
    margin: 0;
    line-height: 1.5;
}
.resources ul a {
    border-radius: 3px;
    display: inline-block;
    margin-left: -8px;
    padding: 1px 5px 0 5px;
}

body {
    background: #e7ebf1;
    color: #525a64;
    font: 100%/1.5 "Adelle", georgia, serif;
}

ul, ol, blockquote {
    margin: 0;
    padding: 0 0 0 1.875%;
}

ul li { padding: .2em 0; }
h1, h2 { font-weight: normal; }

blockquote {
    border-left: 3px solid #5e7087;
    font-style: italic;
}

a, a:visited {
    color: #4b73a6;
    text-decoration: none;
    -webkit-transition: color .1s linear;
    -moz-transition: color .1s linear;
    -ms-transition: color .1s linear;
    -o-transition: color .1s linear;
    transition: color .1s linear;
}

a:hover, a:focus, a:active { color: #0c4c9d; }


.tw-bird  {

  -webkit-transition: all 0.3s ease-out;  
     -moz-transition: all 0.3s ease-out;  
      -ms-transition: all 0.3s ease-out;  
       -o-transition: all 0.3s ease-out;  
          transition: all 0.3s ease-out;

    -webkit-transform: scale(0.3);
       -moz-transform: scale(0.3);
        -ms-transform: scale(0.3);
         -o-transform: scale(0.3);
            transform: scale(0.3);
    -webkit-transform-origin: 100% 0;
       -moz-transform-origin: 100% 0;
        -ms-transform-origin: 100% 0;
         -o-transform-origin: 100% 0;
            transform-origin: 100% 0;
    margin-top: 14px;
    right: 0;
    position:absolute;
}

.no-inlinesvg .tw-bird { display: none; }

.inlinesvg #follow_them_on_twitter + div p { 
    padding-right: 80px;
}

.tw-bird path {
    
  -webkit-transition: all 0.3s ease-out;  
     -moz-transition: all 0.3s ease-out;  
      -ms-transition: all 0.3s ease-out;  
       -o-transition: all 0.3s ease-out;  
          transition: all 0.3s ease-out;

}

#follow_them_on_twitter + div:hover .tw-bird  {
    -webkit-transform: scale(0.3) rotateY(180deg) translateX(400px);
       -moz-transform: scale(0.3) rotateY(180deg) translateX(400px);
        -ms-transform: scale(0.3) rotateY(180deg) translateX(400px);
         -o-transform: scale(0.3) rotateY(180deg) translateX(400px);
            transform: scale(0.3) rotateY(180deg) translateX(400px);
}

#follow_them_on_twitter + div:hover .tw-bird path {
    fill: #33ccff;
}

.resources ul a {
    border-radius: 3px;
    display: inline-block;
    margin-left: -8px;
    padding: 1px 5px 0 5px;
}

p, .col-ab p { line-height: 1.65; }


section, header { 
    max-width: 990px;
    margin: 0 auto;
}

.col-ab {
    clear: both;
	overflow: auto;
    padding: 0 2.9296875%;
}


.hed {
    border-bottom: 1px solid #cbd1d8;
    color: #324a69;
    clear: both;
    float: left;
    font: normal 1.8em/1.2 "ChunkFive", arial, helvetica, sans-serif;
    letter-spacing: -.02em;
    margin: 0 0 .5em 0;
    padding: .5em 0 .1em 0;
    text-shadow: 1px 1px 0 rgba(255,255,255,.8);
    width: 100%;
}

.no-fontface .hed { font-weight: bold; }

.subhed {
    color: #7f8c9c;
    font: normal 1.4em/1 "ChunkFive", georgia, serif;
    margin: 1em 0 0 0;
    text-shadow: 1px 1px 0 rgba(255,255,255,.8);
}

.col-b .subhed { margin-top: 2em; }

.standout {
    background: #687482 url(img/bg_noise.png) 0 0 repeat;
    background-origin: padding;
    border: double #494f57;
    border-width: 3px 0;
    
    background: 
        url(img/bg_noise.png) 0 0 repeat,
        -moz-radial-gradient(center top, ellipse farthest-corner, #7f8c96, #687482 38%);
    background: 
        url(img/bg_noise.png) 0 0 repeat,
        -webkit-radial-gradient(center top, ellipse farthest-corner, #7f8c96, #687482 38%);
    background: 
        url(img/bg_noise.png) 0 0 repeat,
        -o-radial-gradient(center top, ellipse farthest-corner, #7f8c96, #687482 38%);
    background: 
        url(img/bg_noise.png) 0 0 repeat,
        -ms-radial-gradient(center top, ellipse farthest-corner, #7f8c96, #687482 38%);
    background: 
        url(img/bg_noise.png) 0 0 repeat,
        radial-gradient(center top, ellipse farthest-corner, #7f8c96, #687482 38%);
    
    clear: both;
    margin: 3.5em 0 2em 0;
    padding: 1em 2.9296875% 0 2.9296875%;
    box-shadow: inset 0 0 10px #5d6672;
}

.standout .subhed,
.doc-hed {
    color: #b5c5d7;
    font: 1.5em/1 "ChunkFive", georgia, serif;
    letter-spacing: .05em;
    margin: 0;
    padding: .2em 0 .8em 0;
    text-align: center;
    text-shadow: #494f57 1px 1px, #494f57 2px 2px;
}
.standout .hed {
    border: none;
    color: #e0e6ed;
    float: none;
    font-size: 2.6em;
    letter-spacing: 0;
    line-height: 1;
    margin: 0;
    padding: 0;
    text-align: center;
    text-shadow: #494f57 1px 1px, #494f57 2px 2px;
}
.no-fontface .standout .hed {
    font-weight: bold;
    padding: 0 0 .25em 0;
}
.no-fontface .standout .subhed { letter-spacing: normal; }

.doc-hed {
    display: block;
    width: 100%;
    padding: .8em 0 0 0;
    text-align: left;
    text-shadow: #494f57 1px 1px, #494f57 2px 2px;
}

.doc-hed b,
.doc-hed .hed {
	display: block;
    line-height: 1;
    margin: 0 0 .05em 0;
    padding: 0;
    text-align: left;
    text-shadow: #494f57 1px 1px, #494f57 2px 2px, #494f57 3px 3px;
    width: 100%;
}


.lead {
    text-align: center;
    margin-bottom: .25em;
    padding: 0 0 1em 0;
}

.hed-lead {
	background-size: 100% auto;
	background: url(img/webasaurs.gif) center 0 no-repeat;	
    color: #324a69;
    font: 2.4em/1 "ChunkFive", arial, helvetica, sans-serif;
    margin: 5% 0 0 0;
    padding: 25% 0 .25em 0;
    text-shadow: 1px 1px 0 #fff;
}
.no-fontface .hed-lead {
    font-weight: bold;
    letter-spacing: -1px;
}
.subhed-lead {
    color: #5d6474;
    font: normal 1.6em/1 "ChunkFive", georgia, serif;
	margin: 0 0 1.25em 0;
    padding: 0 .5em;
    text-shadow: 1px 1px 0 #fff;
}
.lead .subhed {
	line-height: 1.3em;
	margin: .85em 0 0 0;
	padding: .8em 10%;
}
.lead .subhed b {
	padding-top: .5em;
	display: block;
}

.lead p {
  padding: 1em 0;
  margin-top: 2em;
  border: 2px double #7f8c9c;
  border-width: 4px 0;
}
.lead p b { color: #5d6474; }

.section > section { margin-top: 2em; }

.col-ab ul {
    font-size: .9em;
    margin-top: .9em;
    list-style: none;
    padding: .1em 0 0 0;
}


/* Nav Sticky */
.sticky { position: fixed; top: 0; left: 0; z-index: 2; }

section ul, section ol { 
    margin-left: 25px;
}

.col-ab li { padding: 0.5em 0; }

.col-ab li > ul > li { padding-left: 2em; }

.col-ab li:not(:last-child) { border-bottom: 1px dotted #bfc6cf; }
.col-ab li > ul > li:not(:last-child) { border-bottom: 0; }

/* Get Involved Sidebar */
.getinvolved { font-size: 0.9em; }

.pledge, .pledge:visited {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  padding: 0.5em 1em;
  background: #324a69;
  text-shadow: 1px 1px 1px #000;
  color: white;
  text-align: center;
  border-radius: 5px;
  box-shadow: 1px 1px 2px #000;
  margin-bottom: 1em;
}

/* Twitter Avatar Styles */
.pledges { padding-top: .5em; }

.pledges a {
    display: inline-block;
    margin: .15em;
}
.pledges img { max-width: 25px; }


.tasks {
    font-size: .9em;
    margin-top: .9em;
    padding: .1em 0 0 0;
    margin-left: 0;
}

ul.tasks { list-style: none; }

ol.tasks { list-style-position: inside; }

.tasks p { margin: .5em 0 0 0; }

.resources {
    overflow: auto;
    list-style: none;
    padding: 1.18em 0 0 0;
    font-size: .9em;
}

.task ul,
.resources ul {
    list-style: none;
    padding: .25em 0 .4em 1.2em;
}
.task li,
.resources li {
    padding: .2em 0;
}
.task li:before,
.resources > li:before {
    color: #3d526d;
    content: "■";
    float: left;
    font-size: .85em;
    padding: .1em .6em 0 0;
}
.resources li li {
    padding: 0;
}
.resources li p {
    margin: 0;
    line-height: 1.5;
}
.resources ul a {
    border-radius: 3px;
    display: inline-block;
    margin-left: -8px;
    padding: 1px 5px 0 5px;
}

li span { opacity: 0; 
  -webkit-transition: all 0.3s ease-out;  
     -moz-transition: all 0.3s ease-out;  
      -ms-transition: all 0.3s ease-out;  
       -o-transition: all 0.3s ease-out;  
          transition: all 0.3s ease-out;

}
li:hover > span, .touch li > span { opacity: 1;}

nav { 
  text-align: center; 
  background: rgb(50, 74, 105);
  background: -o-linear-gradient(rgba(50, 74, 105, 0.8), rgba(50, 74, 105, 1));      
  background: -webkit-linear-gradient(rgba(50, 74, 105, 0.8), rgba(50, 74, 105, 1));        
  background: -moz-linear-gradient(rgba(50, 74, 105, 0.8), rgba(50, 74, 105, 1));        
  background: -ms-linear-gradient(rgba(50, 74, 105, 0.8), rgba(50, 74, 105, 1));        
  width: 100%;
}

nav ul,
nav ol {
    display: table;
    width: 100%;
    padding: 0;
}

nav li {
    display: table-cell;
    padding: .5em 0 .8em 0;
    *display: inline;    
}

nav a, nav a:visited { color: rgb(231, 235, 241); text-shadow: 0 1px #000; }

nav a:active, nav a.active { color: rgb(181, 197, 215); }


nav li:not(:last-child) { border-bottom: 0; }

.col-ab {
    clear: both;
    padding: 0 2.9296875%;
}

.col-a {
    position: relative;
}

footer.doc {
  text-align: center;
  font-size: 0.8em;
  padding: 3em;
}

@media screen and (min-width: 800px) {
  .col-a {
		float: left;
		width: 68.607068607069%;
	}
  
  .col-b {
		width: 25.155925155925%;
		float: right;
	}

  .col-ab p {
        max-width: 950px;
        line-height: 1.5;
    }

   .hed-lead {
        font: 3.625em/1 "ChunkFive", georgia, serif;
	    margin: 2% 0 .1em 0;
	    padding: 22% 0 0 0;
    }
	.subhed-lead {
        font-size: 2.2em;
	}
	.lead .subhed b {
		display: inline;
		padding: 0;
	}
    .lead p {
        max-width: 9999px;
    }

    .hed {
        font: normal 2.4em/1.2 "ChunkFive", arial, helvetica, sans-serif;
    }

    .standout .hed {
        font-size: 4.8em;
    }

    .standout .subhed,
    .doc-hed {
        font: 2em/1 "ChunkFive", georgia, serif;
    }

    .col-split {
        padding-top: 1em;
        -webkit-column-count: 2;
        -webkit-column-gap: 2.079002079002%;
        -moz-column-count: 2;
        -moz-column-gap: 2.079002079002%;
        -ms-column-count: 2;
        -ms-column-gap: 2.079002079002%;
        column-count: 2;
        column-gap: 2.079002079002%;
    }
    .col-split p {
        padding: 0 0 1em 0;
        margin: 0;
        -webkit-break-after: column;
        -moz-break-after: column;
        break-after: column;        
    }

	.col-split {
		padding-top: 1em;		
		-webkit-column-count: 2;
		-webkit-column-gap: 2.079002079002%;
		-moz-column-count: 2;
		-moz-column-gap: 2.079002079002%;
		-ms-column-count: 2;
		-ms-column-gap: 2.079002079002%;
		-o-column-count: 2;
		-o-column-gap: 2.079002079002%;
		column-count: 2;
		column-gap: 2.079002079002%;
	}
	.col-split p {
		padding: 0 0 1em 0;
		margin: 0;
	}
}


/* =============================================================================
   Helper classes
   Please define your styles before this section.
   ========================================================================== */


.hidden { display: none !important; visibility: hidden; }

.a11y-only { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

.a11y-only.focusable:active, .a11y-only.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

.hide { visibility: hidden; }

.clearfix:before, .clearfix:after,
.section > section:before,
.section > section:after { content: ""; display: table; }
.clearfix:after,
.section > section:after { clear: both; }
.clearfix { *zoom: 1; }



/* =============================================================================
   Print styles
   ========================================================================== */

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
